src/n8n/calculo_trabalhista_n8n.json
{
  "name": "calculo_trabalhista",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resumo",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        -96
      ],
      "id": "7a34f1c8-6dad-4320-9fed-0c7274e75d1b",
      "name": "Webhook",
      "webhookId": "95378f01-d475-477e-9879-92f3c3b3947f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oqiycpjayuzuyefkdujp.supabase.co/functions/v1/store-calculation-result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "idCalculo",
              "value": "={{ $('Edit Fields').item.json.IdCalculo }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"calculationId\": \"40cb4015-6ac3-4e19-8fcb-bf8784bea1b2\",\n  \"aiResponse\": \"Jota Contabilidade\\n\\n## Relatório de Cálculo de Rescisão de Contrato de Trabalho por Prazo Determinado\\n\\n**Agente de Cálculo Rescisório do Brasil, Professor e Doutor em Direito Trabalhista**\\n\\nID Cálculo: 40cb4015-6ac3-4e19-8fcb-bf8784bea1b2\\nData do Cálculo: 2025-10-04\\n\\n## DADOS DA RESCISÃO\\n\\n| **Campo** | **Detalhe** |\\n| :--- | :--- |\\n| **Nome do Trabalhador** | JOÃO LUIZ SILVA TAVARES teste |\\n| **CPF do Trabalhador** | 657982112300 |\\n| **Função** | AÇOUGUEIRO |\\n| **CNPJ do Empregador** | 23.802.364/0001-90 |\\n| **Data Início Contrato** | 2023-11-01 |\\n| **Data Fim Contrato** | 2025-10-01 |\\n| **Duração do Contrato** | 1 ano, 11 meses e 1 dia |\\n| **Tipo de Rescisão** | Término Natural de Contrato por Prazo Determinado |\\n| **Salário Base Contratual** | R$ 1.500,00 |\\n| **Piso Salarial Sindicato** | R$ 1.600,00 |\\n| **Remuneração Base para Cálculo** | R$ 1.750,00 (Piso Salarial + Cesta Básica) |\\n| **CTPS Assinada** | Sim (Presumido) |\\n\\nRESUMO FINANCEIRO\\n\\n#### PROVENTOS\\n\\n| **Verba Rescisória** | **Base de Cálculo** | **Valor (R$)** |\\n| :--- | :--- | :--- |\\n| Saldo de Salário (1 dia de Outubro/2025) | R$ 1.750,00 / 30 * 1 | 58,33 |\\n| 13º Salário Proporcional (9/12 avos) | (R$ 1.750,00 / 12) * 9 | 1.312,50 |\\n| Férias Vencidas (2023-11-01 a 2024-10-31) | R$ 1.750,00 | 1.750,00 |\\n| Adicional 1/3 Férias Vencidas | R$ 1.750,00 / 3 | 583,33 |\\n| Férias Proporcionais (11/12 avos) | (R$ 1.750,00 / 12) * 11 | 1.604,17 |\\n| Adicional 1/3 Férias Proporcionais | (R$ 1.604,17 / 3) | 534,72 |\\n| Multa de 40% sobre o Saldo do FGTS¹ | R$ 3.220,00 (FGTS Estimado) * 0,40 | 1.288,00 |\\n| **TOTAL BRUTO** | | **7.131,05** |\\n\\n#### DESCONTOS\\n\\n| **Desconto** | **Base de Cálculo** | **Valor (R$)** |\\n| :--- | :--- | :--- |\\n| INSS sobre Saldo de Salário | R$ 58,33 * 7,5% | 4,37 |\\n| INSS sobre 13º Salário Proporcional | R$ 1.312,50 * 7,5% | 98,44 |\\n| IRRF sobre Verbas Remuneratórias² | (R$ 3.412,50 * 15%) - R$ 370,40 | 141,47 |\\n| Outros Descontos Informados | | 33,00 |\\n| **TOTAL DE DESCONTOS** | | **277,28** |\\n\\n## VALOR LÍQUIDO A RECEBER\\n# **R$ 6.853,77**\\n\\n### OBSERVAÇÕES E BASE LEGAL\\n\\n1.  **Base Legal Geral:** Cálculo realizado em conformidade com o Decreto-Lei nº 5.452/43 (Consolidação das Leis do Trabalho - CLT), Constituição Federal de 1988 (Art. 7º) e legislação complementar pertinente.\\n2.  **Remuneração Base:** O salário de cálculo foi ajustado para R$ 1.600,00, conforme o Piso Salarial do Sindicato, que é superior ao salário contratual de R$ 1.500,00. A Cesta Básica no valor de R$ 150,00 por mês foi integrada à remuneração para fins de cálculo de verbas rescisórias, por ter natureza salarial, totalizando R$ 1.750,00 como remuneração base para os cálculos de férias, 13º salário e FGTS (Jurisprudência consolidada, como Súmula 209 do TST - embora a natureza da cesta básica possa ser discutida em CCT, presume-se salarial na ausência de prova em contrário).\\n3.  **Observação CTPS:** Presume-se que a Carteira de Trabalho e Previdência Social (CTPS) esteja devidamente assinada. Caso contrário, é fundamental que o empregador regularize o vínculo empregatício e realize o recolhimento de todos os encargos devidos, sob pena de infração à CLT (Art. 29).\\n4.  **Observação FGTS:** O valor da multa de 40% do FGTS (Lei nº 8.036/90) apresentado é uma estimativa baseada nos depósitos mensais sobre a remuneração base. O valor final a ser liberado para saque será calculado sobre o saldo atualizado de todos os depósitos na conta vinculada do trabalhador.\\n5.  **Término de Contrato por Prazo Determinado:** Por se tratar de término natural de contrato por prazo determinado, não há aviso prévio a ser cumprido ou indenizado (CLT, Art. 478). O seguro-desemprego **não** é devido nesta modalidade de rescisão, conforme Lei nº 7.998/90.\\n6.  **IRRF (Imposto de Renda Retido na Fonte):** O cálculo do IRRF segue a tabela progressiva vigente para o ano de 2025, considerando as deduções legais aplicáveis. As férias indenizadas (terço constitucional) são isentas de Imposto de Renda, conforme Art. 6º, V da Lei nº 7.713/88.\\n\\nAtenciosamente, Jota Contabilidade\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        -96
      ],
      "id": "7b0877c1-3475-487b-8c53-d33f8ea3190a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.instrucoes_entrada_dados_rescisao }}",
        "options": {
          "systemMessage": "=\natribuicoes : {{ $('Edit Fields').item.json.atribuicoes }}\ncomportamento : {{ $('Edit Fields').item.json.comportamento }}\ndescontos : {{ $('Edit Fields').item.json.descontos_template}}\nformatação_texto_corpo:EXCLUA ESSES TITULOS ( DESCONTOS,RESUMO FINANCEIRO\nPROVENTOS. DADOS DA RESCISÃO, VALOR LÍQUIDO A RECEBER , OBSERVAÇÕES E BASE LEGAL\n){{ $('Edit Fields').item.json.estrutura_json_modelo_saida }}\nidentificação:{{ $('Edit Fields').item.json.identificação }}\nleis :{{ $('Edit Fields').item.json.leis_templates }}\nbase_legal : {{ $('Edit Fields').item.json.base_legal_templates }}\nESPECIALIDADE :{{ $('Edit Fields').item.json.title_tempalte }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        80,
        -96
      ],
      "id": "d2e364dd-cbb7-4c52-89f9-e37fcd57020d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        96
      ],
      "id": "87cf375c-8c76-4954-a335-e97928a0a731",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FlYgz578AkLOeocc",
          "name": "jmoka"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "Jota1@@jota79",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        112
      ],
      "id": "a73f5dd1-5f6a-40ba-b4a2-b8b39708a84b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41f2da9b-803c-4027-8534-06435ff91873",
              "name": "CargaHoraria",
              "value": "={{ $json.body.body.calculo_carga_horaria }}",
              "type": "string"
            },
            {
              "id": "2bf1d3bb-5475-486b-b242-4f0b197e224f",
              "name": "Cpf_Funcionario",
              "value": "={{ $json.body.body.calculo_cpf_funcionario }}",
              "type": "string"
            },
            {
              "id": "dc7d39ac-9fd9-4652-97ef-41b9c8544a74",
              "name": "dataDoCalculo",
              "value": "={{ $json.body.body.calculo_created_at }}",
              "type": "string"
            },
            {
              "id": "a6bbc027-5fb2-4b9a-bb4a-5f6470113ad4",
              "name": "ctpsAssinada",
              "value": "={{ $json.body.body.calculo_ctps_assinada }}",
              "type": "string"
            },
            {
              "id": "0e43d029-7d70-4aa8-a71a-dafbfdbd7f17",
              "name": "Fim_contrato",
              "value": "={{ $json.body.body.calculo_fim_contrato }}",
              "type": "string"
            },
            {
              "id": "2b60c3c7-4da6-4c3b-a2ea-26b6a4ca2a6c",
              "name": "funcaoFuncionario",
              "value": "={{ $json.body.body.calculo_funcao_funcionario }}",
              "type": "string"
            },
            {
              "id": "f8ad4615-cb4c-48dd-9c6e-f0bd1c70cf22",
              "name": "HistorioCalculo",
              "value": "={{ $json.body.body.calculo_historia }}",
              "type": "string"
            },
            {
              "id": "5fe95c80-7a05-4cd1-8f99-eb6098888fc8",
              "name": "IdCalculo",
              "value": "={{ $json.body.body.calculo_id }}",
              "type": "string"
            },
            {
              "id": "9235c237-33ed-4a0d-b6b0-b6f30a043919",
              "name": "inicioContrato",
              "value": "={{ $json.body.body.calculo_inicio_contrato }}",
              "type": "string"
            },
            {
              "id": "1fd5ee2e-837f-4786-80fb-2fb947f596c7",
              "name": "DescontosMedios",
              "value": "={{ $json.body.body.calculo_media_descontos }}",
              "type": "string"
            },
            {
              "id": "90991da2-9b02-473d-ba26-73765f0539fe",
              "name": "AcrescimosMedios",
              "value": "={{ $json.body.body.calculo_media_remuneracoes }}",
              "type": "string"
            },
            {
              "id": "357fbf6a-4077-4edd-98cb-e2c9f8733a79",
              "name": "NomeFuncionario",
              "value": "={{ $json.body.body.calculo_nome_funcionario }}",
              "type": "string"
            },
            {
              "id": "c280b3c0-4eab-4acf-9747-c899a8c47c3b",
              "name": "obsSindicato",
              "value": "={{ $json.body.body.calculo_obs_sindicato }}",
              "type": "string"
            },
            {
              "id": "ce47f6ac-5664-4b66-bc2b-d328cff08078",
              "name": "salarioSindicato",
              "value": "={{ $json.body.body.calculo_salario_sindicato }}",
              "type": "string"
            },
            {
              "id": "2bf9d94e-8bc0-4d3e-9b32-e5212743765d",
              "name": "salarioTrabalhador",
              "value": "={{ $json.body.body.calculo_salario_trabalhador }}",
              "type": "string"
            },
            {
              "id": "8ecfe1dc-b3d9-4f10-99df-5d884b143fcc",
              "name": "tipoAviso",
              "value": "={{ $json.body.body.calculo_tipo_aviso }}",
              "type": "string"
            },
            {
              "id": "ffd28b2e-c868-44d5-b360-f00c52e1497c",
              "name": "cnpjEmpresa",
              "value": "={{ $json.body.body.cliente_cnpj }}",
              "type": "string"
            },
            {
              "id": "a9d23bfe-5c24-44f2-bc6f-3ca10644bd26",
              "name": "cpf_Responsavel_empresa",
              "value": "={{ $json.body.body.cliente_cpf_responsavel }}",
              "type": "string"
            },
            {
              "id": "c0c298fa-3c1b-4d8b-a51c-da5d817634db",
              "name": "cpf?",
              "value": "={{ $json.body.body.cliente_cpf }}",
              "type": "string"
            },
            {
              "id": "473dff85-8431-4ba9-a8f3-004c6c9c17a3",
              "name": "nome_cliente",
              "value": "={{ $json.body.body.cliente_nome }}",
              "type": "string"
            },
            {
              "id": "cac35fb1-e53e-4869-b6e3-aaf011496bcb",
              "name": "responsavel_empresa",
              "value": "={{ $json.body.body.cliente_responsavel }}",
              "type": "string"
            },
            {
              "id": "55bb625a-e80d-4c09-b875-9d74f1ce16c6",
              "name": "atribuicoes",
              "value": "={{ $json.body.body.ai_template_atribuicoes }}",
              "type": "string"
            },
            {
              "id": "ea3dce2c-f7da-4480-a776-1a187eb7e3de",
              "name": "comportamento",
              "value": "={{ $json.body.body.ai_template_comportamento }}",
              "type": "string"
            },
            {
              "id": "17c1de58-3033-4104-b6b4-98be23bde75b",
              "name": "descontos_template",
              "value": "={{ $json.body.body.ai_template_descontos }}",
              "type": "string"
            },
            {
              "id": "8eb81960-7924-451c-a49b-4e60599262c4",
              "name": "estrutura_json_modelo_saida",
              "value": "={{ $json.body.body.ai_template_estrutura_json_modelo_saida }}",
              "type": "string"
            },
            {
              "id": "2cbe6dba-4e3f-4b08-85d2-fb711e29bd53",
              "name": "instrucoes_entrada_dados_rescisao",
              "value": "={{ $json.body.body.ai_template_instrucoes_entrada_dados_rescisao }}",
              "type": "string"
            },
            {
              "id": "342c93d3-07ed-4e2c-a8c6-5edaab66a50f",
              "name": "identificação",
              "value": "={{ $json.body.body.ai_template_identificacao }}",
              "type": "string"
            },
            {
              "id": "9cee148e-37d2-4426-a21a-60edba476a33",
              "name": "leis_templates",
              "value": "={{ $json.body.body.ai_template_leis }}",
              "type": "string"
            },
            {
              "id": "c53daeb0-f02f-4d57-899e-9bf361ba6f9f",
              "name": "base_legal_templates",
              "value": "={{ $json.body.body.ai_template_observacoes_base_legal }}",
              "type": "string"
            },
            {
              "id": "4fd4b9a9-d172-40e6-b3dd-f3f26e5a4719",
              "name": "title_tempalte",
              "value": "={{ $json.body.body.ai_template_title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -96
      ],
      "id": "609ec50a-3bf8-43fe-aaaf-584ce307e19f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Obtém os dados dos nós anteriores\nconst idCalculo = $json.idCalculo; // O valor deve estar no item anterior que você está processando, se não, use: $('Edit Fields1').item.json.idCalculo\nconst aiResponse = $('AI Agent').item.json.output;\n\n// Cria o objeto de dados garantindo que aiResponse é uma string escapada\nconst body = {\n  calculationId: idCalculo,\n  aiResponse: JSON.stringify(aiResponse)\n};\n\n// Retorna o objeto (O n8n o transformará em JSON para o nó HTTP Request)\nreturn [{ json: body }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -96
      ],
      "id": "67982a01-bdf4-4786-b7b4-19592820ce89",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "jota-empresas-n8n.ubjifz.easypanel.host",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36",
            "content-length": "14402",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-PT,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "http://localhost:8080",
            "priority": "u=1, i",
            "referer": "http://localhost:8080/",
            "sec-ch-ua": "\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "45.176.47.39",
            "x-forwarded-host": "jota-empresas-n8n.ubjifz.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c33a9392550e",
            "x-real-ip": "45.176.47.39"
          },
          "params": {},
          "query": {},
          "body": {
            "body": {
              "calculo_carga_horaria": "08:00 as 12 e de 14:00 as 18",
              "calculo_cpf_funcionario": "657982112300",
              "calculo_created_at": "2025-10-04T15:20:40.455495+00:00",
              "calculo_ctps_assinada": null,
              "calculo_fim_contrato": "2025-10-01",
              "calculo_funcao_funcionario": "AÇOUGUEIRO",
              "calculo_historia": "mandou o funcionario esperar em casa o aviso e não deu nada para assinar",
              "calculo_ai_template_id": "4763eeea-1715-44f6-8265-d2ac3d5dabca",
              "calculo_id": "40cb4015-6ac3-4e19-8fcb-bf8784bea1b2",
              "calculo_inicio_contrato": "2023-11-01",
              "calculo_media_descontos": 33,
              "calculo_media_remuneracoes": null,
              "calculo_nome_funcionario": "JOÃO LUIZ SILVA TAVARES teste",
              "calculo_obs_sindicato": "cesta basica valor de 150 por mes",
              "calculo_salario_sindicato": 1600,
              "calculo_resposta_ai": "Jota Contabilidade\n\n## Relatório de Cálculo de Rescisão de Contrato de Trabalho por Prazo Determinado\n\n**Agente de Cálculo Rescisório do Brasil, Professor e Doutor em Direito Trabalhista**\n\nID Cálculo: 40cb4015-6ac3-4e19-8fcb-bf8784bea1b2\nData do Cálculo: 2025-10-04\n\n## DADOS DA RESCISÃO\n\n| **Campo** | **Detalhe** |\n| :--- | :--- |\n| **Nome do Trabalhador** | JOÃO LUIZ SILVA TAVARES teste |\n| **CPF do Trabalhador** | 657982112300 |\n| **Função** | AÇOUGUEIRO |\n| **CNPJ do Empregador** | 23.802.364/0001-90 |\n| **Data Início Contrato** | 2023-11-01 |\n| **Data Fim Contrato** | 2025-10-01 |\n| **Duração do Contrato** | 1 ano, 11 meses e 1 dia |\n| **Tipo de Rescisão** | Término Natural de Contrato por Prazo Determinado |\n| **Salário Base Contratual** | R$ 1.500,00 |\n| **Piso Salarial Sindicato** | R$ 1.600,00 |\n| **Remuneração Base para Cálculo** | R$ 1.750,00 (Piso Salarial + Cesta Básica) |\n| **CTPS Assinada** | Sim (Presumido) |\n\nRESUMO FINANCEIRO\n\n#### PROVENTOS\n\n| **Verba Rescisória** | **Base de Cálculo** | **Valor (R$)** |\n| :--- | :--- | :--- |\n| Saldo de Salário (1 dia de Outubro/2025) | R$ 1.750,00 / 30 * 1 | 58,33 |\n| 13º Salário Proporcional (9/12 avos) | (R$ 1.750,00 / 12) * 9 | 1.312,50 |\n| Férias Vencidas (2023-11-01 a 2024-10-31) | R$ 1.750,00 | 1.750,00 |\n| Adicional 1/3 Férias Vencidas | R$ 1.750,00 / 3 | 583,33 |\n| Férias Proporcionais (11/12 avos) | (R$ 1.750,00 / 12) * 11 | 1.604,17 |\n| Adicional 1/3 Férias Proporcionais | (R$ 1.604,17 / 3) | 534,72 |\n| Multa de 40% sobre o Saldo do FGTS¹ | R$ 3.220,00 (FGTS Estimado) * 0,40 | 1.288,00 |\n| **TOTAL BRUTO** | | **7.131,05** |\n\n#### DESCONTOS\\n\\n| **Desconto** | **Base de Cálculo** | **Valor (R$)** |\n| :--- | :--- | :--- |\n| INSS sobre Saldo de Salário | R$ 58,33 * 7,5% | 4,37 |\n| INSS sobre 13º Salário Proporcional | R$ 1.312,50 * 7,5% | 98,44 |\n| IRRF sobre Verbas Remuneratórias² | (R$ 3.412,50 * 15%) - R$ 370,40 | 141,47 |\n| Outros Descontos Informados | | 33,00 |\n| **TOTAL DE DESCONTOS** | | **277,28** |\n\n## VALOR LÍQUIDO A RECEBER\\n# **R$ 6.853,77**\\n\\n### OBSERVAÇÕES E BASE LEGAL\\n\\n1.  **Base Legal Geral:** Cálculo realizado em conformidade com o Decreto-Lei nº 5.452/43 (Consolidação das Leis do Trabalho - CLT), Constituição Federal de 1988 (Art. 7º) e legislação complementar pertinente.\\n2.  **Remuneração Base:** O salário de cálculo foi ajustado para R$ 1.600,00, conforme o Piso Salarial do Sindicato, que é superior ao salário contratual de R$ 1.500,00. A Cesta Básica no valor de R$ 150,00 por mês foi integrada à remuneração para fins de cálculo de verbas rescisórias, por ter natureza salarial, totalizando R$ 1.750,00 como remuneração base para os cálculos de férias, 13º salário e FGTS (Jurisprudência consolidada, como Súmula 209 do TST - embora a natureza da cesta básica possa ser discutida em CCT, presume-se salarial na ausência de prova em contrário).\\n3.  **Observação CTPS:** Presume-se que a Carteira de Trabalho e Previdência Social (CTPS) esteja devidamente assinada. Caso contrário, é fundamental que o empregador regularize o vínculo empregatício e realize o recolhimento de todos os encargos devidos, sob pena de infração à CLT (Art. 29).\\n4.  **Observação FGTS:** O valor da multa de 40% do FGTS (Lei nº 8.036/90) apresentado é uma estimativa baseada nos depósitos mensais sobre a remuneração base. O valor final a ser liberado para saque será calculado sobre o saldo atualizado de todos os depósitos na conta vinculada do trabalhador.\\n5.  **Término de Contrato por Prazo Determinado:** Por se tratar de término natural de contrato por prazo determinado, não há aviso prévio a ser cumprido ou indenizado (CLT, Art. 478). O seguro-desemprego **não** é devido nesta modalidade de rescisão, conforme Lei nº 7.998/90.\\n6.  **IRRF (Imposto de Renda Retido na Fonte):** O cálculo do IRRF segue a tabela progressiva vigente para o ano de 2025, considerando as deduções legais aplicáveis. As férias indenizadas (terço constitucional) são isentas de Imposto de Renda, conforme Art. 6º, V da Lei nº 7.713/88.\\n\\nAtenciosamente, Jota Contabilidade",
              "calculo_salario_trabalhador": 1500,
              "calculo_tipo_aviso": "rescisao_sem_justa_causa",
              "cliente_cnpj": "23.802.364/0001-90",
              "cliente_cpf_responsavel": "00429988249",
              "cliente_cpf": null,
              "cliente_created_at": "2025-10-04T09:49:26.319698+00:00",
              "cliente_user_id": "10599047-4bb5-4003-9319-773476a44ef0",
              "cliente_id": "5fc9a0fb-fbe5-4b42-b459-0589a4710274",
              "cliente_nome": "BARÉ",
              "cliente_responsavel": "J COSME",
              "cliente_tipo_empregador": "Empresa",
              "ai_template_atribuicoes": "-especialista em direito trabalhista\n-especialista na consolidação das leis trabalhistas\n-especialista em cada sindicado e seus dissídios\n-phd em leis trabalhistas\n-professor de cálculo trabalhista e rescisões",
              "ai_template_comportamento": "-cordialmente profissional\n-resposta precisa, **metódica e embasada na CLT**, **Jurisprudências já proferidas** e no **direito trabalhistas**\n-conhecedor do assunto e de toda a legislação trabalhista (CLT, jurisprudência, CCTs/Dissídios)\n-extremamente metódico\n-**A saída final deve ser formatada EXCLUSIVAMENTE**  no formato MARKDOWN SEM TRAÇOS SEM BARARS , BEM FORMTADO \nINSTRUÇÕES DE FORMATO OBRIGATÓRIAS:\n1.  Divisão Limpa: Separe as seções (DADOS DA RESCISÃO, RESUMO FINANCEIRO, etc.) usando **apenas uma linha em branco (quebra de linha dupla)**. NÃO use traços, símbolos ou hífens para linhas divisórias.\n2.  Tabelas: Use o formato de tabela Markdown padrão. Destaque **em negrito** apenas as chaves (cabeçalhos) e as linhas de **TOTAIS** nas tabelas.\n3.  Ênfase no Líquido: Use título de nível 2 (##) e negrito forte para a seção **VALOR LÍQUIDO A RECEBER**, destacando o valor final de forma muito clara (Ex: # **R$ [VALOR]**).\n4.  Observações: Mantenha a seção de OBSERVAÇÕES E BASE LEGAL em formato de **lista numerada** detalhada.",
              "ai_template_created_at": "2025-10-04T12:28:52.803822+00:00",
              "ai_template_descontos": "caso esteja sem carteira assinada não desconta nada , caso não descontar , inss, ir se for o caso",
              "ai_template_estrutura_json_modelo_saida": "```json\\n{\\n  \"cabecalho\": \"Jota Contabilidade\\\\nRelatório de Cálculo de Rescisão Contratual\",\\n  \"dados_rescisao\": {\\n    \"Nome do Trabalhador\": \"{{ $json.NomeFuncionario }}\",\\n    \"CPF do Trabalhador\": \"{{ $json.Cpf_Funcionario }}\",\\n    \"Função\": \"{{ $json.funcaoFuncionario }}\",\\n    \"CNPJ do Empregador\": \"{{ $json.cnpjEmpresa }}\",\\n    \"Data Início Contrato\": \"{{ $json.inicioContrato }}\",\\n    \"Data Fim Contrato\": \"{{ $json.Fim_contrato }}\",\\n    \"Duração do Contrato\": \"...\",\\n    \"Tipo de Rescisão\": \"{{ $json.tipoAviso }}\",\\n    \"Salário Base Contratual\": \"{{ $json.salarioTrabalhador }}\",\\n    \"Piso Salarial Sindicato\": \"{{ $json.salarioSindicato }}\",\\n    \"Remuneração Base para Cálculo\": \"...\",\\n    \"CTPS Assinada\": \"{{ $json.ctpsAssinada }}\"\\n  },\\n  \"proventos\": [\\n    {\"Verba Rescisória\": \"Saldo de Salário\", \"Base de Cálculo\": \"...\", \"Valor (R$)\": \"...\"}\\n  ],\\n  \"descontos\": [\\n    {\"Desconto\": \"INSS\", \"Base de Cálculo\": \"...\", \"Valor (R$)\": \"...\"}\\n  ],\\n  \"valor_liquido_a_receber\": \"R$ X.XXX,XX\",\\n  \"observacoes_base_legal\": [\\n    \"Base Legal Geral: ...\"\\n  ],\\n  \"saudacao_final\": \"Atenciosamente, Jota Contabilidade\"\\n}\\n```",
              "ai_template_instrucoes_entrada_dados_rescisao": "Contexto\\tCampo\\tValor\\nEmpresa\\tCNPJ\\t{{ $json.cnpjEmpresa }}\\nCPF Responsável\\t{{ $json.cpf_Responsavel_empresa }}\\nTrabalhador\\tNome\\t{{ $json.NomeFuncionario }}\\nCPF\\t{{ $json.Cpf_Funcionario }}\\nFunção\\t{{ $json.funcaoFuncionario }}\\nContrato\\tSalário Base de Cálculo\\t{{ $json.salarioTrabalhador }}\\nData Início Contrato\\t{{ $json.inicioContrato }}\\nData Fim Contrato\\t{{ $json.Fim_contrato }}\\nCTPS Assinada\\t{{ $json.ctpsAssinada }}\\nTipo Aviso Prévio\\t{{ $json.tipoAviso }}\\nCarga Horária\\t{{ $json.CargaHoraria }}\\nPiso Salarial Sindicato\\t{{ $json.salarioSindicato }}\\nDescontos\\tDescontos Médios Informados\\t{{ $json.DescontosMedios }}\\nOutros/Memória\\tObservação Sindicato\\t{{ $json.obsSindicato }}\\nID Cálculo\\t{{ $json.IdCalculo }}\\nData do Cálculo\\t{{ $json.dataDoCalculo }}\\nAcréscimos Médios\\t{{ $json.AcrescimosMedios }}",
              "ai_template_identificacao": "-agente de cálculo rescisório do brasil\\n-o agente especialista em cálculo rescisório do brasil\\n-professor de direito trabalhista do brasil\\n-mestre em direito trabalhista do brasil\\n-phd em direito trabalhista do brasil\\n- doutor em direito trabalhista do brasil",
              "ai_template_leis": "- calcular sempre a diferença de salário exigido pelo sindicato e relação ao recebido pelo trabalhador durante o período de trabalho\\nA Lei Principal: Consolidação das Leis do Trabalho (CLT)\\nO núcleo de toda a legislação trabalhista brasileira é a Consolidação das Leis do Trabalho (CLT), aprovada pelo Decreto-Lei nº 5.452, de 1º de maio de 1943.A CLT é a principal fonte de regras que define e regulamenta a relação de emprego individual e coletiva, abrangendo temas como:\\nRegistro e Documentação: Obrigatoriedade da Carteira de Trabalho e Previdência Social (CTPS), hoje majoritariamente digital.\\nContrato de Trabalho: Tipos de contrato (prazo determinado, indeterminado, intermitente, etc.) e condições.\\nJornada de Trabalho: Limites diários e semanais (geralmente 8 horas diárias e 44 semanais), horas extras e regime de turnos.\\nRemuneração: Salário mínimo, equiparação salarial e descontos.\\nFérias: Direito, período de concessão e pagamento.\\nSegurança e Medicina do Trabalho: Normas de saúde e segurança (as NRs - Normas Regulamentadoras, que se baseiam na CLT).\\nProteção ao Trabalho: Regras para o trabalho da mulher, do menor e do aprendiz.\\nRescisão do Contrato: Tipos de demissão (justa causa, sem justa causa, pedido de demissão, etc.) e verbas rescisórias.\\nDireito Coletivo: Sindicatos, acordos e convenções coletivas de trabalho.\\n\\n2. Norma Máxima: Constituição Federal de 1988\\nAcima da CLT, a Constituição da República Federativa do Brasil (CF/88) estabelece os direitos sociais básicos dos trabalhadores no seu Artigo 7º. Qualquer lei infraconstitucional (como a CLT) deve respeitar esses direitos.\\nDireitos constitucionais incluem:\\nSalário mínimo.\\nDécimo terceiro salário (Lei nº 4.090/62).\\nFundo de Garantia por Tempo de Serviço (FGTS).\\nSeguro-desemprego (Lei nº 7.998/90).\\nFérias anuais remuneradas com, no mínimo, um terço a mais.\\nLicença-maternidade e licença-paternidade.\\nProteção contra a despedida arbitrária ou sem justa causa (multa de 40% do FGTS).\\n\\n3. Leis Específicas e Complementares\\nAlém da CLT, diversas leis e normas tratam de relações de trabalho específicas ou detalham direitos e obrigações:\\nLegislação\\nNúmero\\nFinalidade\\nLei do Aviso Prévio\\nLei nº 12.506/2011\\nRegulamenta o acréscimo de 3 dias por ano de serviço ao aviso prévio.\\nLei da Terceirização\\nLei nº 13.429/2017\\nDisciplina o trabalho temporário e a terceirização de todas as atividades.\\nLei do Trabalho Doméstico\\nLei Complementar nº 150/2015\\nGarante direitos específicos (como FGTS obrigatório, seguro-desemprego, etc.) aos empregados domésticos.\\nLei do Estágio\\nLei nº 11.788/2008\\nDefine as regras para a contratação de estagiários (que não gera vínculo empregatício CLT).\\nLei da Aprendizagem\\nLei nº 10.097/2000\\nRegulamenta a contratação de jovens aprendizes.\\nLei do PIS/PASEP\\nLei nº 7.998/90\\nDefine o programa de Abono Salarial (PIS/PASEP) e o seguro-desemprego.\\nNormas Regulamentadoras (NRs)\\nPortarias do Ministério do Trabalho\\nConjunto de regras que detalham as obrigações de segurança e saúde no trabalho (NR 7, NR 9, etc.).",
              "ai_template_observacoes_base_legal": "Base Legal Geral\\tCálculo realizado em conformidade com o Decreto-Lei nº 5.452/43 (Consolidação das Leis do Trabalho - CLT) e legislação complementar.\\nObservação CTPS\\tSe a CTPS não estiver assinada ({{ $json.ctpsAssinada }} seja \"não\" ou nulo), é fundamental cobrar o reconhecimento do vínculo e o recolhimento de todo o FGTS não depositado.\\nObservação Sindicato\\tO campo {{ $json.obsSindicato }} deve ser analisado para verificar se representa algum débito, crédito ou informação relevante para o cálculo final, conforme a convenção coletiva.\\nObservação FGTS\\tO saldo do FGTS a ser liberado para saque será o valor acumulado na conta vinculada, acrescido da multa de 40% paga pelo empregador.\\nAviso Geral\\tEste é um cálculo simulado com base nos dados fornecidos. Os valores podem variar dependendo das especificidades do contrato de trabalho e da convenção coletiva.",
              "ai_template_proventos": "Saldo de Salário\\tFórmula: (Salário Base de Cálculo / 30) * dias trabalhados no mês da rescisão.\\nAviso Prévio Indenizado\\tCalculado com base na Lei nº 12.506/2011 (30 dias + 3 dias por ano de serviço), utilizando as datas de {{ $json.inicioContrato }} e {{ $json.inicioContrato }}.\\n13º Salário Proporcional\\tFórmula: (Acréscimos Médios / 12) * meses trabalhados no ano (considerando a projeção do aviso prévio).\\nFérias Proporcionais\\tFórmula: (Salário Base de Cálculo / 12) * meses do período aquisitivo (considerando a projeção do aviso prévio).\\nINSS\\tIncide sobre o Saldo de Salário e o 13º Salário, conforme tabelas vigentes. Verbas indenizatórias não possuem incidência de INSS.\\nMulta de 40% do FGTS\\tO saldo de FGTS é estimado com base nos depósitos de 8% sobre a remuneração durante o período do contrato. A multa de 40% incide sobre este total, caso não tenha a ctps assinada\\nDiferença de salário entre salario estipulado pelo sindicato e relação ao recebido pelo trabalhador durante o período de trabalho\\nFgts – valor do fgts , caso não tenha a ctps assinada",
              "ai_template_restricoes": "-não inventa dados ou verbas\\n-segue estritamente a lei (CLT, Leis Complementares e Convenções Coletivas de Trabalho)\\n-**NUNCA DEVE USAR FORMATO XML, ESTRUTURAS DE CÓDIGO OU MEMÓRIA DE CÁLCULO BRUTA** como saída final. A memória de cálculo deve ser integrada na seção \"OBSERVAÇÕES IMPORTANTES\" de forma explicativa e clara.\\n-não coloque no texto os titulos : exemplo \\n--proventos\\n--descontos\\n--Observações e Base Legal\\n(quando gerer o arquivo markdown não coloque esses titulos)",
              "ai_template_title": "PHD em Cálculo Trabalhista",
              "sindicato_created_at": "2025-10-04T01:53:19.127222+00:00",
              "sindicato_data_final": "2025-10-01",
              "sindicato_data_inicial": "2025-10-01",
              "sindicato_id": "1965a6d8-c7c3-449a-9843-23caef41b3e1",
              "sindicato_mes_convencao": "janeiro",
              "sindicato_nome": "Básico",
              "sindicato_resumo_dissidio": "tem direiro a cesta basica no valor de 100 reais",
              "sindicato_url_documento_sindicato": null
            }
          },
          "webhookUrl": "https://jota-empresas-n8n.ubjifz.easypanel.host/webhook-test/resumo",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7bdebf4-1074-4f22-83ae-029917d2d15e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "798aeff1915f045ba9e0dd8d8fe3ecd53ff2dc02669c1f1c295f61e0943a66db"
  },
  "id": "HzxXQ1jAShKx50N8",
  "tags": []
}