src/n8n/calculo_trabalhista (1).json
{
  "name": "calculo_trabalhista",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resumo",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -96
      ],
      "id": "7a34f1c8-6dad-4320-9fed-0c7274e75d1b",
      "name": "Webhook",
      "webhookId": "95378f01-d475-477e-9879-92f3c3b3947f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41f2da9b-803c-4027-8534-06435ff91873",
              "name": "CargaHoraria",
              "value": "={{ $json.body.calculo_carga_horaria }}",
              "type": "string"
            },
            {
              "id": "2bf1d3bb-5475-486b-b242-4f0b197e224f",
              "name": "Cpf_Funcionario",
              "value": "={{ $json.body.calculo_cpf_funcionario }}",
              "type": "string"
            },
            {
              "id": "dc7d39ac-9fd9-4652-97ef-41b9c8544a74",
              "name": "dataDoCalculo",
              "value": "={{ $json.body.calculo_created_at }}",
              "type": "string"
            },
            {
              "id": "a6bbc027-5fb2-4b9a-bb4a-5f6470113ad4",
              "name": "ctpsAssinada",
              "value": "={{ $json.body.calculo_ctps_assinada }}",
              "type": "string"
            },
            {
              "id": "0e43d029-7d70-4aa8-a71a-dafbfdbd7f17",
              "name": "Fim_contrato",
              "value": "={{ $json.body.calculo_fim_contrato }}",
              "type": "string"
            },
            {
              "id": "2b60c3c7-4da6-4c3b-a2ea-26b6a4ca2a6c",
              "name": "funcaoFuncionario",
              "value": "={{ $json.body.calculo_funcao_funcionario }}",
              "type": "string"
            },
            {
              "id": "f8ad4615-cb4c-48dd-9c6e-f0bd1c70cf22",
              "name": "HistorioCalculo",
              "value": "={{ $json.body.calculo_historia }}",
              "type": "string"
            },
            {
              "id": "5fe95c80-7a05-4cd1-8f99-eb6098888fc8",
              "name": "IdCalculo",
              "value": "={{ $json.body.calculo_id }}",
              "type": "string"
            },
            {
              "id": "9235c237-33ed-4a0d-b6b0-b6f30a043919",
              "name": "inicioContrato",
              "value": "={{ $json.body.calculo_inicio_contrato }}",
              "type": "string"
            },
            {
              "id": "1fd5ee2e-837f-4786-80fb-2fb947f596c7",
              "name": "DescontosMedios",
              "value": "={{ $json.body.calculo_media_descontos }}",
              "type": "string"
            },
            {
              "id": "90991da2-9b02-473d-ba26-73765f0539fe",
              "name": "AcrescimosMedios",
              "value": "={{ $json.body.calculo_media_remuneracoes }}",
              "type": "string"
            },
            {
              "id": "357fbf6a-4077-4edd-98cb-e2c9f8733a79",
              "name": "NomeFuncionario",
              "value": "={{ $json.body.calculo_nome_funcionario }}",
              "type": "string"
            },
            {
              "id": "c280b3c0-4eab-4acf-9747-c899a8c47c3b",
              "name": "obsSindicato",
              "value": "={{ $json.body.calculo_obs_sindicato }}",
              "type": "string"
            },
            {
              "id": "ce47f6ac-5664-4b66-bc2b-d328cff08078",
              "name": "salarioSindicato",
              "value": "={{ $json.body.calculo_salario_sindicato }}",
              "type": "string"
            },
            {
              "id": "2bf9d94e-8bc0-4d3e-9b32-e5212743765d",
              "name": "salarioTrabalhador",
              "value": "={{ $json.body.calculo_salario_trabalhador }}",
              "type": "string"
            },
            {
              "id": "8ecfe1dc-b3d9-4f10-99df-5d884b143fcc",
              "name": "tipoAviso",
              "value": "={{ $json.body.calculo_tipo_aviso }}",
              "type": "string"
            },
            {
              "id": "ffd28b2e-c868-44d5-b360-f00c52e1497c",
              "name": "cnpjEmpresa",
              "value": "={{ $json.body.cliente_cnpj }}",
              "type": "string"
            },
            {
              "id": "a9d23bfe-5c24-44f2-bc6f-3ca10644bd26",
              "name": "cpf_Responsavel_empresa",
              "value": "={{ $json.body.cliente_cpf_responsavel }}",
              "type": "string"
            },
            {
              "id": "c0c298fa-3c1b-4d8b-a51c-da5d817634db",
              "name": "cpf?",
              "value": "={{ $json.body.cliente_cpf }}",
              "type": "string"
            },
            {
              "id": "bce48253-a3a1-4b3c-85f7-d060e1bd595b",
              "name": "vigencia do dissidio",
              "value": "={{ $json.body.dissidio_data_vigencia_final[0] }}",
              "type": "string"
            },
            {
              "id": "9c350843-c9b0-450c-b910-80aa0438e246",
              "name": "mesDaConvencao",
              "value": "={{ $json.body.dissidio_mes_convencao[0] }}",
              "type": "string"
            },
            {
              "id": "72c2a3c8-1af5-4c45-bfb1-de97e499757b",
              "name": "nomeSindicato",
              "value": "={{ $json.body.dissidio_nome_dissidio[0] }}",
              "type": "string"
            },
            {
              "id": "f615ec98-686e-4538-99f5-cd96ef28a3e9",
              "name": "resumoDissidio",
              "value": "={{ $json.body.dissidio_resumo_dissidio }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -96
      ],
      "id": "609ec50a-3bf8-43fe-aaaf-584ce307e19f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oqiycpjayuzuyefkdujp.supabase.co/functions/v1/store-calculation-result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "idCalculo",
              "value": "={{ $json.idCalculo }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"calculationId\": \"{{ $json.idCalculo }}\", \n  \"aiResponse\": {{ JSON.stringify($json.resposta) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        -96
      ],
      "id": "7b0877c1-3475-487b-8c53-d33f8ea3190a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Contexto\tCampo\tValor\nEmpresa\tCNPJ\t{{ $json.cnpjEmpresa }}\nCPF Responsável\t{{ $json.cpf_Responsavel_empresa }}\nTrabalhador\tNome\t{{ $json.NomeFuncionario }}\nCPF\t{{ $json.Cpf_Funcionario }}\nFunção\t{{ $json.funcaoFuncionario }}\nContrato\tSalário Base de Cálculo\t{{ $json.salarioTrabalhador }}\nData Início Contrato\t{{ $json.inicioContrato }}\nData Fim Contrato\t{{ $json.Fim_contrato }}\nCTPS Assinada\t{{ $json.ctpsAssinada }}\nTipo Aviso Prévio\t{{ $json.tipoAviso }}\nCarga Horária\t{{ $json.CargaHoraria }}\nPiso Salarial Sindicato\t{{ $json.salarioSindicato }}\nData Base Sindicato\t{{ $json.mesDaConvencao }}\nVigência Dissídio\t{{ $json['vigencia do dissidio'] }}\nResumo Dissídio\t{{ $json.resumoDissidio }}\nDescontos\tDescontos Médios Informados\t{{ $json.DescontosMedios }}\nOutros/Memória\tObservação Sindicato\t{{ $json.obsSindicato }}\nID Cálculo\t{{ $json.IdCalculo }}\nData do Cálculo\t{{ $json.dataDoCalculo }}\nAcréscimos Médios\t{{ $json.AcrescimosMedios }}",
        "options": {
          "systemMessage": "=<identificação>\n-agente de cálculo rescisório do brasil\n-o agente especialista em cálculo rescisório do brasil\n-professor de direito trabalhista do brasil\n-mestre em direito trabalhista do brasil\n-phd em direito trabalhista do brasil\n- doutor em direito trabalhista do brasil\n</identificação>\n<comportamento>\n-cordialmente profissional\n-resposta precisa, **metódica e embasada na CLT**, **Jurisprudências já proferidas** e no **direito trabalhistas**\n-conhecedor do assunto e de toda a legislação trabalhista (CLT, jurisprudência, CCTs/Dissídios)\n-extremamente metódico\n-**A saída final deve ser formatada EXCLUSIVAMENTE**  no formato MARKDOWN SEM TRAÇOS SEM BARARS , BEM FORMTADO \n</comportamento>\n<restrições>\n-não inventa dados ou verbas\n-segue estritamente a lei (CLT, Leis Complementares e Convenções Coletivas de Trabalho)\n-**NUNCA DEVE USAR FORMATO XML, ESTRUTURAS DE CÓDIGO OU MEMÓRIA DE CÁLCULO BRUTA** como saída final. A memória de cálculo deve ser integrada na seção \"OBSERVAÇÕES IMPORTANTES\" de forma explicativa e clara.\n</restrições>\n<atribuições>\n-especialista em direito trabalhista\n-especialista na consolidação das leis trabalhistas\n-especialista em cada sindicado e seus dissídios\n-phd em leis trabalhistas\n-professor de cálculo trabalhista e rescisões\n</atribuições>\n<leis>\n- calcular sempre a diferença de salário exigido pelo sindicato e relação ao recebido pelo trabalhador durante o período de trabalho\nA Lei Principal: Consolidação das Leis do Trabalho (CLT)\nO núcleo de toda a legislação trabalhista brasileira é a Consolidação das Leis do Trabalho (CLT), aprovada pelo Decreto-Lei nº 5.452, de 1º de maio de 1943.A CLT é a principal fonte de regras que define e regulamenta a relação de emprego individual e coletiva, abrangendo temas como:\nRegistro e Documentação: Obrigatoriedade da Carteira de Trabalho e Previdência Social (CTPS), hoje majoritariamente digital.\nContrato de Trabalho: Tipos de contrato (prazo determinado, indeterminado, intermitente, etc.) e condições.\nJornada de Trabalho: Limites diários e semanais (geralmente 8 horas diárias e 44 semanais), horas extras e regime de turnos.\nRemuneração: Salário mínimo, equiparação salarial e descontos.\nFérias: Direito, período de concessão e pagamento.\nSegurança e Medicina do Trabalho: Normas de saúde e segurança (as NRs - Normas Regulamentadoras, que se baseiam na CLT).\nProteção ao Trabalho: Regras para o trabalho da mulher, do menor e do aprendiz.\nRescisão do Contrato: Tipos de demissão (justa causa, sem justa causa, pedido de demissão, etc.) e verbas rescisórias.\nDireito Coletivo: Sindicatos, acordos e convenções coletivas de trabalho.\n\n2. Norma Máxima: Constituição Federal de 1988\nAcima da CLT, a Constituição da República Federativa do Brasil (CF/88) estabelece os direitos sociais básicos dos trabalhadores no seu Artigo 7º. Qualquer lei infraconstitucional (como a CLT) deve respeitar esses direitos.\nDireitos constitucionais incluem:\nSalário mínimo.\nDécimo terceiro salário (Lei nº 4.090/62).\nFundo de Garantia por Tempo de Serviço (FGTS).\nSeguro-desemprego (Lei nº 7.998/90).\nFérias anuais remuneradas com, no mínimo, um terço a mais.\nLicença-maternidade e licença-paternidade.\nProteção contra a despedida arbitrária ou sem justa causa (multa de 40% do FGTS).\n\n3. Leis Específicas e Complementares\nAlém da CLT, diversas leis e normas tratam de relações de trabalho específicas ou detalham direitos e obrigações:\nLegislação\nNúmero\nFinalidade\nLei do Aviso Prévio\nLei nº 12.506/2011\nRegulamenta o acréscimo de 3 dias por ano de serviço ao aviso prévio.\nLei da Terceirização\nLei nº 13.429/2017\nDisciplina o trabalho temporário e a terceirização de todas as atividades.\nLei do Trabalho Doméstico\nLei Complementar nº 150/2015\nGarante direitos específicos (como FGTS obrigatório, seguro-desemprego, etc.) aos empregados domésticos.\nLei do Estágio\nLei nº 11.788/2008\nDefine as regras para a contratação de estagiários (que não gera vínculo empregatício CLT).\nLei da Aprendizagem\nLei nº 10.097/2000\nRegulamenta a contratação de jovens aprendizes.\nLei do PIS/PASEP\nLei nº 7.998/90\nDefine o programa de Abono Salarial (PIS/PASEP) e o seguro-desemprego.\nNormas Regulamentadoras (NRs)\nPortarias do Ministério do Trabalho\nConjunto de regras que detalham as obrigações de segurança e saúde no trabalho (NR 7, NR 9, etc.).\n\n<Proventos e Descontos>\nComponente\tRegra de Cálculo/Base\nSaldo de Salário\tFórmula: (Salário Base de Cálculo / 30) * dias trabalhados no mês da rescisão.\nAviso Prévio Indenizado\tCalculado com base na Lei nº 12.506/2011 (30 dias + 3 dias por ano de serviço), utilizando as datas de {{ $json.inicioContrato }} e {{ $json.inicioContrato }}.\n13º Salário Proporcional\tFórmula: (Acréscimos Médios / 12) * meses trabalhados no ano (considerando a projeção do aviso prévio).\nFérias Proporcionais\tFórmula: (Salário Base de Cálculo / 12) * meses do período aquisitivo (considerando a projeção do aviso prévio).\nINSS\tIncide sobre o Saldo de Salário e o 13º Salário, conforme tabelas vigentes. Verbas indenizatórias não possuem incidência de INSS.\nMulta de 40% do FGTS\tO saldo de FGTS é estimado com base nos depósitos de 8% sobre a remuneração durante o período do contrato. A multa de 40% incide sobre este total, caso não tenha a ctps assinada\nDiferença de salário entre salario estipulado pelo sindicato e salario recebido , calcular a diferença entre o perio trabalhado\nFgts – valor do fgts , caso não tenha a ctps assinada\n\n</Proventos e Descontos>\n<Observações e Base Legal>\nCategoria\tDescrição\nBase Legal Geral\tCálculo realizado em conformidade com o Decreto-Lei nº 5.452/43 (Consolidação das Leis do Trabalho - CLT) e legislação complementar.\nObservação CTPS\tSe a CTPS não estiver assinada ({{ $json.ctpsAssinada }} seja \"não\" ou nulo), é fundamental cobrar o reconhecimento do vínculo e o recolhimento de todo o FGTS não depositado.\nObservação Sindicato\tO campo {{ $json.obsSindicato }} deve ser analisado para verificar se representa algum débito, crédito ou informação relevante para o cálculo final, conforme a convenção coletiva.\nObservação FGTS\tO saldo do FGTS a ser liberado para saque será o valor acumulado na conta vinculada, acrescido da multa de 40% paga pelo empregador.\nAviso Geral\tEste é um cálculo simulado com base nos dados fornecidos. Os valores podem variar dependendo das especificidades do contrato de trabalho e da convenção coletiva.\n</Observações e Base Legal>\n</leis>\n\nGere a Resposta da IA com um **layout de documento profissional e limpo**, semelhante a um relatório final.\n\n**INSTRUÇÕES DE FORMATO:**\n1.  **Divisão Limpa:** Para separar seções (como entre DADOS DA RESCISÃO e RESUMO FINANCEIRO), **use exclusivamente uma linha em branco (quebra de linha dupla)**. Não use símbolos, traços, hífens ou underlines para fazer linhas divisórias.\n2.  **Tabelas:** Use o formato de tabela Markdown padrão. Simule o destaque \"bicolor\" usando **negrito** nas chaves e nos totais para priorizar a leitura.\n3.  **Ênfase e Destaque:** Use **negrito** e títulos de seção grandes (##) para as informações mais importantes (Resultado Líquido, Nomes de Seções).\n4.  **Estrutura de Cabeçalho:** Comece com um cabeçalho claro que inclua o nome da empresa e o título do documento.\n5.  **Memória de Cálculo/Observações:** Mantenha as Observações (Memória de Cálculo e Base Legal) em formato de **lista numerada** para clareza.\n\n**SEÇÕES OBRIGATÓRIAS:**\n1.  **CABEÇALHO:** [Seu Nome/Logo] e Título do Relatório.\n2.  **DADOS DA RESCISÃO:** Tabela limpa.\n3.  **RESUMO FINANCEIRO:**\n    a. Título \"PROVENTOS\"\n    b. Tabela de Proventos com destaque no Total Bruto.\n    c. Título \"DESCONTOS\"\n    d. Tabela de Descontos com destaque no Total de Descontos.\n4.  **VALOR LÍQUIDO A RECEBER:** Destaque o valor líquido de forma muito clara.\n5.  **OBSERVAÇÕES E BASE LEGAL:** Lista numerada detalhada.\n\nAtenciosamente,\n[Jota Contabilidade]\n\n<\\formato_de_saida_obrigatorio>\n<PROIBIDO>\nCOLOCAR BARRAS (---) OU QUAISQUER TRAÇOS NA FORMATAÇÃO DO TEXTO.\n</PROIBIDO>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -16,
        -96
      ],
      "id": "d2e364dd-cbb7-4c52-89f9-e37fcd57020d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        96
      ],
      "id": "87cf375c-8c76-4954-a335-e97928a0a731",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FlYgz578AkLOeocc",
          "name": "jmoka"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "Jota1@@jota1979",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        128
      ],
      "id": "a73f5dd1-5f6a-40ba-b4a2-b8b39708a84b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3fb3447-df8d-415c-a793-c187a07eb9c2",
              "name": "resposta",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "8759e99b-6192-472c-9d67-4e523c5d16dc",
              "name": "idCalculo",
              "value": "={{ $('Webhook').item.json.body.calculo_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -96
      ],
      "id": "ed527321-2147-4ab7-aed9-4946b52c6c6a",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "jota-empresas-n8n.ubjifz.easypanel.host",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36",
            "content-length": "1505",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-PT,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "http://localhost:32100",
            "priority": "u=1, i",
            "referer": "http://localhost:32100/",
            "sec-ch-ua": "\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "45.176.47.39",
            "x-forwarded-host": "jota-empresas-n8n.ubjifz.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c33a9392550e",
            "x-real-ip": "45.176.47.39"
          },
          "params": {},
          "query": {},
          "body": {
            "calculo_carga_horaria": "DAS 08:00 AS 12:00 DE SEGUNDA A SABADO E NO DOMINGO DAS 08: AS 12:00 E FOLGAVA NAS TERÇAS",
            "calculo_cpf_funcionario": "657980015220",
            "calculo_created_at": "2025-10-04T09:55:31.597212+00:00",
            "calculo_ctps_assinada": null,
            "calculo_fim_contrato": "2025-10-03",
            "calculo_funcao_funcionario": "AÇOUGUEIRO",
            "calculo_historia": "A DEMISSÃO SE DEU ONTEM E O PATRÃO PEDIU PARAO TRABALHADOR PROCURAR SEUS DIREIROS, NÃO DEU AVISO ASSINADO E DISSE PARA AGUARDAR EM CASA, NÃO TEM CARTEIRA ASSINADA",
            "calculo_id": "362c7220-7dcb-4146-99b5-f5dfabbcfbc3",
            "calculo_inicio_contrato": "2023-07-02",
            "calculo_media_descontos": 33,
            "calculo_media_remuneracoes": null,
            "calculo_nome_funcionario": "JOÃO LUIZ SILVA TAVARES",
            "calculo_obs_sindicato": null,
            "calculo_salario_sindicato": 2000,
            "calculo_salario_trabalhador": 1700,
            "calculo_tipo_aviso": "rescisao_sem_justa_causa",
            "cliente_cnpj": "23.802.364/0001-90",
            "cliente_cpf_responsavel": "00429988249",
            "cliente_cpf": null,
            "cliente_created_at": "2025-10-04T09:49:26.319698+00:00",
            "cliente_user_id": "10599047-4bb5-4003-9319-773476a44ef0",
            "cliente_id": "5fc9a0fb-fbe5-4b42-b459-0589a4710274",
            "cliente_nome": "BARÉ",
            "cliente_responsavel": "J COSME",
            "cliente_tipo_empregador": "Empresa",
            "sindicato_created_at": "2025-10-04T01:53:19.127222+00:00",
            "sindicato_data_final": "2025-10-01",
            "sindicato_data_inicial": "2025-10-01",
            "sindicato_id": "1965a6d8-c7c3-449a-9843-23caef41b3e1",
            "sindicato_mes_convencao": "janeiro",
            "sindicato_nome": "Básico",
            "sindicato_url_documento_sindicato": null
          },
          "webhookUrl": "https://jota-empresas-n8n.ubjifz.easypanel.host/webhook-test/resumo",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7954ff3e-d5f6-40fd-a465-74a7e23efd29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "798aeff1915f045ba9e0dd8d8fe3ecd53ff2dc02669c1f1c295f61e0943a66db"
  },
  "id": "HzxXQ1jAShKx50N8",
  "tags": []
}