n8n/calculo_trabalhista.json
{
  "name": "calculo_trabalhista",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resumo",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -96
      ],
      "id": "7a34f1c8-6dad-4320-9fed-0c7274e75d1b",
      "name": "Webhook",
      "webhookId": "95378f01-d475-477e-9879-92f3c3b3947f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oqiycpjayuzuyefkdujp.supabase.co/functions/v1/store-calculation-result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "idCalculo",
              "value": "={{ $('Edit Fields').item.json.id_calculo }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"calculationId\": \"{{ $('Edit Fields').item.json.id_calculo }}\",\n  \"aiResponse\": {{ JSON.stringify($json.aiResponse, null, 2) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -96
      ],
      "id": "7b0877c1-3475-487b-8c53-d33f8ea3190a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"identificacao\": {\n    \"nomeFuncionario\": \"{{ $json.NomeFuncionario }}\",\n    \"cpfFuncionario\": \"{{ $json.cpfFuncionario }}\",\n    \"empregador\": \"{{ $json.Empregador }}\",\n    \"funcao\": \"{{ $json.funcao }}\"\n  },\n  \"contrato\": {\n    \"dataInicioContrato\": \"{{ $json.iniciaocontrato }}\",\n    \"dataFimContrato\": \"{{ $json.fimContrato }}\",\n    \"dataInicioIrregular\": \"{{ $json.inicioContratoirregular }}\",\n    \"dataFimIrregular\": \"{{ $json.iniciaocontrato }}\",\n    \"jornadaTrabalho\": \"{{ $json.jornadaTrabalho }}\"\n  },\n  \"rescisao\": {\n    \"tipoRescisao\": \"{{ $json.tipoRescisao }}\",\n    \"dataInicioAviso\": \"{{ $json.inicioAviso }}\",\n    \"tipoAviso\": \"{{ $json.tipoAviso }}\",\n    \"faltouTodoAviso\": \"{{ $json.faltouAvisoTodo }}\"\n  },\n  \"verbas\": {\n    \"ultimoSalario\": \"{{ $json.ultimoSalario }}\",\n    \"valorRecebidoFerias\": \"{{ $json.ValorJaRecebidoFerias }}\",\n    \"infoFerias\": \"{{ $('Webhook').item.json.body.body.calculo_info_ferias }}\",\n    \"valorRecebido13\": \"{{ $json.valorRecebido13 }}\",\n    \"info13Salario\": \"{{ $('Webhook').item.json.body.body.calculo_info_13_salario }}\",\n    \"mediaDescontos\": \"{{ $json.mediaDescontos }}\",\n    \"detalheDescontos\": \"{{ $json.detalheDesconto }}\",\n    \"mediaProventos\": \"{{ $json.mediasProventos }}\",\n    \"infoProventos\": \"{{ $json.infoProventos }}\"\n  },\n  \"eventos\": {\n    \"quantidadeFaltas\": \"{{ $json.quantFaltas }}\",\n    \"infoFaltas\": \"{{ $json.infoFaltas }}\",\n    \"quantidadeFolgasTrabalhadas\": \"{{ $json.quantFolgasTrabalhadas }}\",\n    \"infoFolgas\": \"{{ $json.infoFolgas }}\",\n    \"quantidadeFeriadosTrabalhados\": \"{{ $json.quantFeriadosTrabalhados }}\",\n    \"infoFeriados\": \"{{ $json.infoFeriados }}\",\n    \"infoHoraExtra\": \"{{ $json.infHoraExtra }}\"\n  },\n  \"sindicato\": {\n    \"pisoSindicatoOpcional\": \"{{ $json.PisoSindicato_opcional }}\",\n    \"obsSindicato\": \"{{ $json['obsSindicato '] }}\"},\n  \"flagsCalculo\": {\n    \"calcularFeriasRetroativas\": \"{{ $json.PagarFeriasRetroativa }}\",\n    \"recebiaFeriasSemUmTerco\": \"{{ $json.RecebiaFeriasSem1_3 }}\",\n    \"calcularSomenteFeriasProporcional\": \"{{ $json.CalcularSomenteFeriasProporcional }}\",\n    \"calcular13Retroativo\": \"{{ $json.pagar13Retroativo }}\",\n    \"servicoInsalubre\": \"{{ $json.servicoInsalubre }}\",\n    \"servicoPerigoso\": \"{{ $json.servicoPerigoso }}\",\n    \"calcularInsalubridadeRetroativa\": \"{{ $json.InsalubridadeRetroativa }}\",\n    \"funcaoDeCaixa\": \"{{ $json.temAFuncaodeCaixa }}\",\n    \"calcularQuebraCaixaRetroativo\": \"{{ $json.calclularQuebracaixaRetroativo }}\",\n    \"calcularHoraExtraRetroativa\": \"{{ $json.calcularHoraextraretroativa }}\",\n    \"naoCalcularHoraExtra\": \"{{ $json.naocalcularhoraExtra }}\",\n    \"calcularSomenteHoraExtraDoMes\": \"{{ $json.calcularSomenteHoraExtraDomes }}\",\n    \"naoCalcularFaltas\": \"{{ $json.naoCalcularFaltas }}\",\n    \"naoCalcularFolgas\": \"{{ $json.nalCalcularFolgas }}\",\n    \"naoCalcularFeriados\": \"{{ $json.naocalcularFeriado }}\",\n    \"naoCalcularProventos\": \"{{ $json.naoCalcularProventos }}\",\n    \"naoCalcularDescontos\": \"{{ $json.naoCalcularDescontos }}\",\n    \"calcularSomenteDescontoINSS\": \"{{ $json.calcularSomneteDescontoInss }}\",\n    \"calcularInfoBasica\": \"{{ $json.infoBasica }}\",\n    \"ignorarPisoSindicato\": \"{{ $json.ignorarPisoSindicato }}\",\n    \"naoCalcularDiferencaSalario\": \"{{ $json.naoCalcularDiferencaSalario }}\"\n  },\n  \"resumo\": {\n    \"historia\": \"{{ $json.historia }}\"\n  }\n}\n",
        "options": {
          "systemMessage": "=<TITULO>\n{{ $json.tipoModelo }}\n<\\TITULO>\n<IDENTIFICAÇÃO>\n{{ $json.indentificacao }}\n<\\IDENTIFICAÇÃO>\n<COMPORTAMENTO>\n{{ $json.comportamento }}\n<\\COMPORTAMENTO>\n<ATRIBUTOS>\n{{ $json.atribuicao }}\n<\\ATRIBUTOS>\n<RESTRIÇOES>\n{{ $json.restricoes }}\n<\\RESTRIÇOES>\n<ESTRUTURA_SAIDA_REGRA>\n{{ $json.struturaJSON.replace(/\\s+/g, ' ').trim() }}\n<\\ESTRUTURA_SAIDA_REGRA>\n<BASE_LEGAL>\n{{ $json.baseLegal.replace(/\\s+/g, ' ').trim() }}\n<\\BASE_LEGAL>\n<LEIS>\n{{ $json.leis }}\n<\\LEIS>\n<REGRAS DO SINDICATO>\n{{ $('Webhook').item.json.body.body.sindicato_resumo_dissidio }}\n<\\REGRAS DO SINDICATO>\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -96,
        -96
      ],
      "id": "d2e364dd-cbb7-4c52-89f9-e37fcd57020d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        128
      ],
      "id": "87cf375c-8c76-4954-a335-e97928a0a731",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FlYgz578AkLOeocc",
          "name": "jmoka"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "Jota1@@jota79",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        128
      ],
      "id": "a73f5dd1-5f6a-40ba-b4a2-b8b39708a84b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17c8bdf0-948c-4b1e-b28f-c999775c9909",
              "name": "=Empregador",
              "value": "={{ $json.body.body.cliente_nome }}",
              "type": "string"
            },
            {
              "id": "a6816b60-7ce5-4942-85ba-073dd6b1686e",
              "name": "SindicatoNome",
              "value": "={{ $json.body.body.sindicato_nome }}",
              "type": "string"
            },
            {
              "id": "9ae91adc-2be1-4f60-ae22-7b2ed12a4443",
              "name": "NomeFuncionario",
              "value": "={{ $json.body.body.calculo_nome_funcionario }}",
              "type": "string"
            },
            {
              "id": "09accaae-6dd7-4203-b56b-2b24188cf0d0",
              "name": "cpfFuncionario",
              "value": "={{ $json.body.body.calculo_cpf_funcionario }}",
              "type": "string"
            },
            {
              "id": "61a01e9d-392f-4c8e-b387-fc1fe6e7c057",
              "name": "cpfResponsavel",
              "value": "={{ $json.body.body.cliente_cpf_responsavel }}",
              "type": "string"
            },
            {
              "id": "155d9fbf-c0c6-40c2-9fec-5a5a1b457fa7",
              "name": "funcao",
              "value": "={{ $json.body.body.calculo_funcao_funcionario }}",
              "type": "string"
            },
            {
              "id": "b4384a51-2872-4b87-a269-3175662f66cc",
              "name": "jornadaTrabalho",
              "value": "={{ $json.body.body.calculo_carga_horaria }}",
              "type": "string"
            },
            {
              "id": "044ea056-fbe4-428c-9555-37822a899b1e",
              "name": "iniciaocontrato",
              "value": "={{ $json.body.body.calculo_inicio_contrato }}",
              "type": "string"
            },
            {
              "id": "0e672821-74ce-4c9e-8dc6-7a79a84d6ac3",
              "name": "inicioContratoirregular",
              "value": "={{ $json.body.body.calculo_inicio_contrat_inregular }}",
              "type": "string"
            },
            {
              "id": "5a35c730-0b4e-4608-9752-5178c2184a19",
              "name": "fimContrato",
              "value": "={{ $json.body.body.calculo_fim_contrato }}",
              "type": "string"
            },
            {
              "id": "574847b2-b06d-403d-a0b9-1d4adde18f13",
              "name": "inicioAviso",
              "value": "={{ $json.body.body.calculo_data_aviso }}",
              "type": "string"
            },
            {
              "id": "53c1088b-9752-449f-a0ad-4643b1a390b8",
              "name": "tipoRescisao",
              "value": "={{ $json.body.body.calculo_tip_recisao }}",
              "type": "string"
            },
            {
              "id": "d8e70bf8-f8ce-42d4-9a9e-8465999981df",
              "name": "tipoAviso",
              "value": "={{ $json.body.body.calculo_tipo_aviso }}",
              "type": "string"
            },
            {
              "id": "a918e3c7-5290-47a8-9a36-f2f041a5600e",
              "name": "faltouAvisoTodo",
              "value": "={{ $json.body.body.calculo_faltou_todo_aviso }}",
              "type": "string"
            },
            {
              "id": "3510465f-23bc-4135-b04b-88db63479743",
              "name": "ultimoSalario",
              "value": "={{ $json.body.body.calculo_salario_trabalhador }}",
              "type": "string"
            },
            {
              "id": "fed0fa2d-2b53-4559-9704-29e7ef35b9e3",
              "name": "debitoComEmpresa",
              "value": "={{ $json.body.body.calculo_debito_com_empresa }}",
              "type": "string"
            },
            {
              "id": "c1ad0a99-27b6-4125-a48a-bd14800fb0fc",
              "name": "PisoSindicato_opcional",
              "value": "={{ $json.body.body.calculo_salario_sindicato }}",
              "type": "string"
            },
            {
              "id": "fcdd2d0a-1085-4ba9-a44a-6b838cbd13a0",
              "name": "obsSindicato ",
              "value": "={{ $json.body.body.calculo_obs_sindicato }}",
              "type": "string"
            },
            {
              "id": "5ba23c0b-adc1-4c39-a628-5468121566c7",
              "name": "PagarFeriasRetroativa",
              "value": "={{ $json.body.body.calculo_ferias_retroativas }}",
              "type": "string"
            },
            {
              "id": "26c11156-8660-4601-b67f-b0d63c9a36a0",
              "name": "RecebiaFeriasSem1_3",
              "value": "={{ $json.body.body.calculo_recebia_sem_1_3 }}",
              "type": "string"
            },
            {
              "id": "75992787-5104-40b4-a2ba-92064e6701df",
              "name": "CalcularSomenteFeriasProporcional",
              "value": "={{ $json.body.body.calculo_somente_proporcional }}",
              "type": "string"
            },
            {
              "id": "724c9f76-feb5-45e5-822c-f7e7dc9eedd9",
              "name": "ValorJaRecebidoFerias",
              "value": "={{ $json.body.body.calculo_valor_recebido_ferias }}",
              "type": "string"
            },
            {
              "id": "6ce1d673-a51a-44b7-a6fc-eb4ddfada1b6",
              "name": "pagar13Retroativo",
              "value": "={{ $json.body.body.calculo_13_retroativo }}",
              "type": "string"
            },
            {
              "id": "e89864f3-9fc2-448c-a300-c49be6ea1765",
              "name": "valorRecebido13",
              "value": "={{ $json.body.body.calculo_valor_recebido_13 }}",
              "type": "string"
            },
            {
              "id": "aa3995db-fec5-4242-9047-70bf560e0492",
              "name": "detalhe13",
              "value": "={{ $json.body.body.calculo_info_13_salario }}",
              "type": "string"
            },
            {
              "id": "06fb87f0-7bfa-4d95-b75c-c3d10a3259d5",
              "name": "servicoInsalubre",
              "value": "={{ $json.body.body.calculo_insalubre }}",
              "type": "string"
            },
            {
              "id": "08451470-dc0d-460c-b0f8-20d2b5f58ecf",
              "name": "InsalubridadeRetroativa",
              "value": "={{ $json.body.body.calculo_isalubridade_retroativa }}",
              "type": "string"
            },
            {
              "id": "0d4497fa-a43b-4c86-9d98-56021789d4c2",
              "name": "servicoPerigoso",
              "value": "={{ $json.body.body.calculo_periculosidade }}",
              "type": "string"
            },
            {
              "id": "682d325c-2797-44f7-9f63-34a32f9b3f3d",
              "name": "periculosidadeRetroativa",
              "value": "={{ $json.body.body.calculo_periculosidade_retroativa }}",
              "type": "string"
            },
            {
              "id": "dd8140ac-7402-4833-9ea2-8115d3af8da7",
              "name": "temAFuncaodeCaixa",
              "value": "={{ $json.body.body.calculo_caixa }}",
              "type": "string"
            },
            {
              "id": "413e35f6-88c9-4104-aafb-d5b30e8625e9",
              "name": "recebiaQuebraCaixa",
              "value": "={{ $json.body.body.calculo_quebra_caixa }}",
              "type": "string"
            },
            {
              "id": "7e4bd680-74c1-470c-bdb1-99248ac008fb",
              "name": "calclularQuebracaixaRetroativo",
              "value": "={{ $json.body.body.calculo_quebra_caixa_retroativo }}",
              "type": "string"
            },
            {
              "id": "c6fdccfe-5c2c-49f5-b252-6f64cfada192",
              "name": "calcularHoraextraretroativa",
              "value": "={{ $json.body.body.calculo_he_retroativa }}",
              "type": "string"
            },
            {
              "id": "4285b9f7-802d-4513-a706-12d66f9d9820",
              "name": "naocalcularhoraExtra",
              "value": "={{ $json.body.body.calculo_n_he }}",
              "type": "string"
            },
            {
              "id": "cd581603-c50d-45d0-abcd-c43ab1e8fd1a",
              "name": "calcularSomenteHoraExtraDomes",
              "value": "={{ $json.body.body.calculo_hx_mes }}",
              "type": "string"
            },
            {
              "id": "8bdacc22-0ae1-4db7-81fc-9b23d2e2d663",
              "name": "infHoraExtra",
              "value": "={{ $json.body.body.calculo_info_hora_extra }}",
              "type": "string"
            },
            {
              "id": "0c54d3b1-0f1d-433d-b199-a96dddac65a1",
              "name": "naoCalcularFaltas",
              "value": "={{ $json.body.body.calculo_faltas }}",
              "type": "string"
            },
            {
              "id": "85338b2f-16e0-4edd-ac15-fabafbea1689",
              "name": "quantFaltas",
              "value": "={{ $json.body.body.calculo_qunat_faltas }}",
              "type": "string"
            },
            {
              "id": "4e1c89bb-998a-4867-8392-8bc66f6f3c0c",
              "name": "infoFaltas",
              "value": "={{ $json.body.body.calculo_info_faltas }}",
              "type": "string"
            },
            {
              "id": "49d5e506-5fd8-44e8-96de-663d77d63f17",
              "name": "nalCalcularFolgas",
              "value": "={{ $json.body.body.calculo_n_folgas }}",
              "type": "string"
            },
            {
              "id": "39a598ce-04b0-4787-99e1-b5084edc6038",
              "name": "quantFolgasTrabalhadas",
              "value": "={{ $json.body.body.calculo_qunat_folgas_trabalhadas }}",
              "type": "string"
            },
            {
              "id": "5918d9fe-dd15-409d-91dd-58da27e90a1f",
              "name": "infoFolgas",
              "value": "={{ $json.body.body.calculo_info_folgas }}",
              "type": "string"
            },
            {
              "id": "dca172a4-fbc0-480f-917d-62ba8d274890",
              "name": "naocalcularFeriado",
              "value": "={{ $json.body.body.calculo_n_feriados }}",
              "type": "string"
            },
            {
              "id": "55b371b3-d73b-4ff8-a771-6a110e50505c",
              "name": "quantFeriadosTrabalhados",
              "value": "={{ $json.body.body.calculo_qunt_feriados_trabalhados }}",
              "type": "string"
            },
            {
              "id": "e0eb1633-44a3-4413-a1ed-4d4ee6f8a325",
              "name": "infoFeriados",
              "value": "={{ $json.body.body.calculo_info_feriados }}",
              "type": "string"
            },
            {
              "id": "77d9f0b6-795d-4937-a5ab-234573c3ca81",
              "name": "naoCalcularProventos",
              "value": "={{ $json.body.body.calculo_n_calcular_proventos }}",
              "type": "string"
            },
            {
              "id": "cb891db8-35fd-4644-a0d5-d1c0c25ce611",
              "name": "mediasProventos",
              "value": "={{ $json.body.body.calculo_media_remuneracoes }}",
              "type": "string"
            },
            {
              "id": "7b1d5aa0-5118-4ae5-ad79-cfadbefa335f",
              "name": "infoProventos",
              "value": "={{ $json.body.body.calculo_info_proventos }}",
              "type": "string"
            },
            {
              "id": "93f716ed-d9ef-4359-a2e2-73ab7fcea367",
              "name": "naoCalcularDescontos",
              "value": "={{ $json.body.body.calculo_n_calcular_descontos }}",
              "type": "string"
            },
            {
              "id": "a2fa4bb4-5216-47cc-87c5-cd828a12bd47",
              "name": "calcularSomneteDescontoInss",
              "value": "={{ $json.body.body.calculo_somente_inss }}",
              "type": "string"
            },
            {
              "id": "46715133-1e3b-40a3-9a52-f590c6b8ad72",
              "name": "mediaDescontos",
              "value": "={{ $json.body.body.calculo_media_descontos }}",
              "type": "string"
            },
            {
              "id": "1c559447-31ff-470a-9d2b-51cbded73107",
              "name": "infoBasica",
              "value": "={{ $json.body.body.calculo_info_basico }}",
              "type": "string"
            },
            {
              "id": "da5a8428-4cdf-4b2a-ac69-b159276ac308",
              "name": "ignorarPisoSindicato",
              "value": "={{ $json.body.body.calculo_ignorar_salario_sindicato }}",
              "type": "string"
            },
            {
              "id": "0dbb6697-a1f4-465c-984b-9d6f14bbb1e7",
              "name": "naoCalcularDiferencaSalario",
              "value": "={{ $json.body.body.calculo_n_dif_salario }}",
              "type": "string"
            },
            {
              "id": "3ef149c8-360d-45fc-ac73-17c1f8778202",
              "name": "historia",
              "value": "={{ $json.body.body.calculo_historia }}",
              "type": "string"
            },
            {
              "id": "af44a5bd-a1a8-4991-b7de-796af01d2293",
              "name": "dissidioInicio",
              "value": "={{ $json.body.body.sindicato_data_inicial }}",
              "type": "string"
            },
            {
              "id": "617567aa-2222-454c-a1bc-d9aa89e2b813",
              "name": "dissdioFim",
              "value": "={{ $json.body.body.sindicato_data_final }}",
              "type": "string"
            },
            {
              "id": "05204ac1-a94b-4774-b997-8c65cfa883a0",
              "name": "dataBase",
              "value": "={{ $json.body.body.sindicato_mes_convencao }}",
              "type": "string"
            },
            {
              "id": "5c91026e-eade-4f1b-ba64-6066fc960c1c",
              "name": "resumoDissidio",
              "value": "={{ $json.body.body.sindicato_resumo_dissidio }}",
              "type": "string"
            },
            {
              "id": "b582b39d-7813-434e-ab0e-b088ff06ae2a",
              "name": "tipoModelo",
              "value": "={{ $json.body.body.ai_template_title }}",
              "type": "string"
            },
            {
              "id": "8325e3fd-5737-41e4-91a8-fc2cafcd40be",
              "name": "indentificacao",
              "value": "={{ $json.body.body.ai_template_identificacao }}",
              "type": "string"
            },
            {
              "id": "9ef9055d-26df-4528-94d4-a5b642684684",
              "name": "comportamento",
              "value": "={{ $json.body.body.ai_template_comportamento }}",
              "type": "string"
            },
            {
              "id": "cc0ad183-cf59-49a4-abaf-77d2d79b6a02",
              "name": "restricoes",
              "value": "={{ $json.body.body.ai_template_restricoes }}",
              "type": "string"
            },
            {
              "id": "e80cc9ae-3f0e-4e85-b35a-447f056e90cd",
              "name": "atribuicao",
              "value": "={{ $json.body.body.ai_template_atribuicoes }}",
              "type": "string"
            },
            {
              "id": "e75132ac-dca6-4c7c-bb4f-0790bd78610c",
              "name": "leis",
              "value": "={{ $json.body.body.ai_template_leis }}",
              "type": "string"
            },
            {
              "id": "a2711bc3-22b7-48e5-ad0d-f178642dab68",
              "name": "baseLegal",
              "value": "={{ $json.body.body.ai_template_observacoes_base_legal }}",
              "type": "string"
            },
            {
              "id": "641feb6f-34b6-4776-88c0-8b9879b51ea9",
              "name": "struturaJSON",
              "value": "={{ $json.body.body.ai_template_estrutura_json_modelo_saida }}",
              "type": "string"
            },
            {
              "id": "03abd8df-6b3d-406a-b673-2723728d4709",
              "name": "instrucoes ",
              "value": "={{ $json.body.body.ai_template_instrucoes_entrada_dados_rescisao }}",
              "type": "string"
            },
            {
              "id": "a73b4fa6-4a1d-4056-93f6-6a40aec8f02d",
              "name": "detalhaFerias",
              "value": "={{ $json.body.body.calculo_info_ferias }}",
              "type": "string"
            },
            {
              "id": "6024baec-4843-4da2-8088-239a8444a566",
              "name": "detalheDesconto",
              "value": "={{ $json.body.body.calculo_info_descontos }}",
              "type": "string"
            },
            {
              "id": "340a904c-840b-4b24-b5cb-b8d472d0b290",
              "name": "valeTransporte",
              "value": "={{ $json.body.body.calculo_vale_transporte }}",
              "type": "string"
            },
            {
              "id": "c0ccc3e8-3d53-4b3d-8495-4ab03143f03b",
              "name": "id_calculo",
              "value": "={{ $json.body.body.calculo_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -96
      ],
      "id": "609ec50a-3bf8-43fe-aaaf-584ce307e19f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Nó: Code in JavaScript (n8n)\n\n// 1. Obter os dados de entrada\nconst idCalculo = $json.IdCalculo; // Variável de entrada do ID do Cálculo\nconst aiResponseString = $('AI Agent').item.json.output; // Resposta JSON bruta da IA\n\nlet parsedJson;\n\ntry {\n    // --- ETAPA 1: EXTRAÇÃO E LIMPEZA DO BLOCO JSON ---\n    const firstBracket = aiResponseString.indexOf('{');\n    const lastBracket = aiResponseString.lastIndexOf('}');\n\n    if (firstBracket === -1 || lastBracket === -1 || lastBracket < firstBracket) {\n        throw new Error(\"Não foi possível encontrar um objeto JSON válido (chaves '{' e '}') na resposta da IA.\");\n    }\n\n    let jsonString = aiResponseString.substring(firstBracket, lastBracket + 1);\n\n    // Remove quebras de linha para evitar erros de 'bad control character'\n    jsonString = jsonString.replace(/(\\r\\n|\\n|\\r)/gm, \"\");\n\n    // PARSE DO JSON LIMPO\n    parsedJson = JSON.parse(jsonString);\n\n} catch (e) {\n    // Retorna o erro em caso de falha de extração ou parsing\n    console.error(\"Falha ao extrair ou fazer o parse do JSON. Erro:\", e.message);\n    return [{\n        json: {\n            calculationId: idCalculo,\n            error: \"JSON_EXTRACTION_OR_PARSE_FAILED\",\n            details: e.message,\n            original_string_snippet: aiResponseString.substring(0, 300) + '...'\n        }\n    }];\n}\n\n// --- ETAPA 2: NORMALIZAÇÃO E CONSOLIDAÇÃO DA ESTRUTURA ---\nif (parsedJson && parsedJson.Verbas_Rescisorias) {\n    const verbasRescisorias = parsedJson.Verbas_Rescisorias;\n    const allProventos = [];\n    const allDescontos = [];\n\n    // Itera sobre todas as chaves de categoria na estrutura INCORRETA (Verbas_Aviso_Previo, etc.)\n    for (const key in verbasRescisorias) {\n        if (Array.isArray(verbasRescisorias[key])) {\n            verbasRescisorias[key].forEach(item => {\n                // Checa se é um item válido com valor de cálculo\n                if (item.Cálculo && typeof item.Cálculo.Valor === 'number') {\n                    \n                    // --- ETAPA 3: FILTRAGEM (Remove itens com Valor: 0) ---\n                    // IMPORTANTE: Algumas verbas de cálculo (como Base_de_Cálculo_Rescisória) \n                    // podem ter Natureza_da_Verba: \"Informativa\" e precisam ser mantidas mesmo com valor zero.\n                    const isInformative = item.Natureza_da_Verba === \"Informativa\";\n                    \n                    if (item.Cálculo.Valor > 0 || isInformative) {\n                        \n                        // Classifica como PROVENTO (se tiver 'Provento') ou DESCONTO (se tiver 'Desconto')\n                        if (item.Provento) {\n                            allProventos.push(item);\n                        } else if (item.Desconto) {\n                            allDescontos.push(item);\n                        }\n                    }\n                }\n            });\n        }\n    }\n\n    // --- ETAPA 4: RECONSTRUÇÃO DA ESTRUTURA FINAL NA ORDEM CORRETA (Descontos -> Remuneracao) ---\n    const finalVerbasRescisorias = {};\n    \n    // 1. Adiciona a lista de DESCONTOS na chave 'Descontos' (Prioridade 1)\n    if (allDescontos.length > 0) {\n        // Normaliza a chave do Desconto, se necessário (geralmente não precisa, mas mantido por segurança)\n        const normalizedDescontos = allDescontos.map(item => {\n             // Apenas garante que a estrutura de descontos seja padronizada se o item vier de Descontos_Autorizados_ou_Indenizacao_do_Empregado\n            if (item.Desconto && !item.Provento) {\n                return {\n                    Cálculo: item.Cálculo,\n                    Desconto: item.Desconto,\n                    Legislação: item.Legislação,\n                    Natureza_da_Verba: item.Natureza_da_Verba,\n                    Memoria_de_Calculo: item.Memoria_de_Calculo,\n                    Exemplos_Aplicaveis: item.Exemplos_Aplicaveis\n                };\n            }\n            return item;\n        });\n        \n        finalVerbasRescisorias.Descontos = normalizedDescontos;\n    }\n    \n    // 2. Adiciona a lista de PROVENTOS na chave 'Remuneracao' (Prioridade 2)\n    if (allProventos.length > 0) {\n        finalVerbasRescisorias.Remuneracao = allProventos;\n    }\n\n    // Atualiza o JSON principal com a estrutura normalizada e ordenada\n    parsedJson.Verbas_Rescisorias = finalVerbasRescisorias;\n}\n\n// --- ETAPA 5: CONSTRUÇÃO DO PAYLOAD FINAL ---\nconst finalPayload = {\n    calculationId: idCalculo,\n    aiResponse: parsedJson // Objeto JSON normalizado e filtrado\n};\n\n// Retorna o payload final e correto.\nreturn [{ json: finalPayload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -96
      ],
      "id": "67982a01-bdf4-4786-b7b4-19592820ce89",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6da9c0a3-1b77-414f-901e-335eca04469d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "798aeff1915f045ba9e0dd8d8fe3ecd53ff2dc02669c1f1c295f61e0943a66db"
  },
  "id": "HzxXQ1jAShKx50N8",
  "tags": []
}